@charset "utf-8"
// TODO: check it to import only usefull "utilities" not all by default
// @import "~bulma/sass/utilities/_all.sass"

// custom vars
$fucsia: #fc363a // brand main color -> RED as Ioana´s chef clothes
$color-main: $fucsia
$color-lighter: #f6f4f3
$black-bis: hsl(0, 0%, 7%)
$backdrop: saturate(180%) blur(5px) // in modern browsers only

@mixin color-bg-opacity($color, $opacity)
  background-color: rgba($color,$opacity)

$primary: $color-main
$warning: coral
$link: $warning

// third party brands colors
$jalofernandez: #f4692a
$haztunegociodigital: #24cf09
$whatsapp: #25d366
$instagram: #e1306c
$facebook: #3b5998
$youtube: #ff0000

// Font Families
// $font-main: 'Roboto Slab', serif
$font-main: 'Montserrat', sans-serif
// $font-title: 'Akaya Telivigala', cursive
$font-title: 'Bree Serif', serif

// $navbar-background-color: $color-bg-opacity
$navbar-height: 3.5rem
$navbar-item-hover-background-color: transparent
$card-footer-background-color: white

$card-background-color: transparent

$footer-background-color: transparent
$footer-padding: 3rem 1.5rem

@import "~bulma/bulma"
