@charset "utf-8"
// TODO: check it to import only usefull "utilities" not all by default
// @import "~bulma/sass/utilities/_all.sass"

// custom vars
$fucsia: #FF5D22 // Chef Ioana brand main color -> Orange
$color-main: $fucsia
$black-bis: hsl(0, 0%, 7%)
$color-dark-opacity: rgba(white,.9)
$backdrop: saturate(180%) blur(3px) // in modern browsers only

$primary: $color-main
$has-text-primary: $color-main

$navbar-background-color: $color-dark-opacity

$footer-background-color: transparent

@import "~bulma/bulma"
