// common global styles
.has-logo
  animation: 1s animAppear
  margin: auto

@keyframes animAppear
  0%
    opacity: 0

.container
  margin: 0 auto
  min-height: 100vh
  display: flex
  justify-content: center
  align-items: center
  text-align: center

.title
  font-family: 'Montserrat', sans-serif
  display: block
  font-weight: 300
  font-size: 100px
  color: #35495e
  letter-spacing: 1px
  animation: .5s animAppear

.subtitle
  font-weight: 300
  font-size: 42px
  color: #526488
  word-spacing: 5px
  padding-bottom: 15px
  animation: .75s animAppear

.links
  padding-top: 15px
  animation: 1.5s animAppear
